<form method="post" action="/send" role="form" class="form-inline" id="add-form">
 	<div class="form-group">
    	<label class="sr-only" for="name">Message</label>
    	<input type="text" name="message" class="form-control" id="message" placeholder="Message" value="<%if(typeof locals.payload != 'undefined'){%><%=payload.message%><%}%>"/>
  	</div>	
  	<button type="button" class="btn btn-default" id="send">Send</button>
  	<div class="hidden-submit"><input type="submit" tabindex="-1"/></div>
</form>

<script>
$(function (){
	$('#add-form').submit(function(e){
		$('#send').trigger('click');	
		return false;
	});
	$('#send').click(function (){
		$.ajax({
			url: '/send',
			method: 'post',
			data: $("#add-form").serialize()
		})
		.done(function(data, status, request) {
			$('#list').load('/list');
			$('#message').text('');
		})
		.fail(function(jqXHR, status, error){
			$('#message').text(jqXHR.responseText);
		});				
	});
});
</script>