<% include top.ejs %>
<div class="page-header">
	<h2>GCM Test Server</h2>
</div>

<!-- message -->
<h3 id="message2"><%if(typeof locals.message != 'undefined'){%><%=message%><%}%></h3>

<!-- add kitty form -->
<% include form.ejs %>

<!-- list of kittens -->
<h3>Zarejestrowane urządzenia</h3>
<div id="list">
<% include list.ejs %>
</div>

<% include bottom.ejs %>