<%if(typeof locals.regs != 'undefined' && regs.length > 0) {%>
<ul class="list-group">
	<%for(var i=0;i<regs.length;i++){%>

		<li class="list-group-item">			
			<span class="left"><strong>Nazwa: </strong><%=regs[i].name%><br/><strong>Reg ID: </strong><%=regs[i].regid%></span>
			<button class="delete right btn btn-default" regid="<%=regs[i]._id%>">Usuń</button> <div class="clear"></div>
		</li>
	<%}%>
</ul>
<button class="delete btn btn-default">Usuń wszystkie</button>
<%}%>
<script>
$(function (){
	$('button.delete').click(function(){
		var id = $(this).attr('regid');
		$.ajax({
			url: '/del/'+(typeof id != 'undefined' ? id : '')
		})
		.done(function(data, status, request){
			$('#list').load('/list');
		});
	});
});
</script>